body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./fondo.png");
}


.back-button {
  display: inline-block;
  position: fixed;
    top: 20px;
    left: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  color: rgb(18, 18, 18);
  text-decoration: none;
}

.back-button:hover {
  background-color: #39b1e1;
}