body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 40px;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: rgb(10, 8, 8);
  text-decoration: none;
}

.back-button:hover {
  background-color: #898f94;
}

.board-container {
  width: 100%; /* Ocupa el ancho completo del contenedor */
  max-width: 90vw; /* Se adapta al ancho de la pantalla */
  margin: auto; /* Centra el contenedor */
  aspect-ratio: 7 / 6; /* Mantiene la proporción */
}

#board {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columnas iguales */
  gap: 5px;
  max-width: 90vw; /* se adapta al ancho de pantalla */
  margin: auto;
  padding: 10px;
  aspect-ratio: 7 / 6; /* mantiene proporción del tablero */
  background-color: blue;
  border: 10px solid navy;
  box-sizing: border-box; /* Incluye padding y border en el cálculo */
}

.tile {
  width: 100%;
  aspect-ratio: 1 / 1; /* cada ficha es cuadrada */
  background-color: white;
  border-radius: 50%;
  border: 1px solid navy;
  box-sizing: border-box;
}


.red-piece{
    background-color: red;
}

.yellow-piece{
    background-color: yellow;
}



.winner-title {
  font-size: 2em;
  margin-top: 20px;
  color: white;
  text-shadow: 0 0 10px gold;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.winner-title.show {
  opacity: 1;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% { transform: scale(1); text-shadow: 0 0 10px gold; }
  50% { transform: scale(1.2); text-shadow: 0 0 20px orange; }
  100% { transform: scale(1); text-shadow: 0 0 10px gold; }
}


/* Para tablets (481px a 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  #board {
    gap: 3px; 
    padding: 5px; 
    border: 5px solid navy; 
  }
  .tile {
    border: 2px solid navy; 
  }

}
/* Para móviles (max-width: 480px) */
@media (max-width: 480px) {
  #board {
    gap: 2px; /* Un poco más que 1px para mejor visibilidad */
    padding: 2px; /* Reducido proporcionalmente */
    border: 2px solid navy; /* Reducido para que sea más compacto */
  }
  .tile {
    border: 1px solid navy; /* Mantiene el mismo valor, o ajusta si es necesario */
  }
}

