body{
    background-color: lightgray;
}

#container{
    position: absolute;
    margin: auto;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 544px;
    width: 80%;
    background-image: url("imgPingPong/mesaPingPong.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

#user-score, 
#comp-score{
position: absolute;
color: #fff;
top: 20px;
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
padding: 10px 20px;
border: 2px solid #fff;
font-weight: bold;
border-radius: 5px;
}

#user-score{
    left: 25%;
    background-color: rgb(131, 206, 18);
}
#comp-score{
    left: 70%;
    background-color: rgb(255, 71, 47);
}

#user {
  position: absolute;
  background-image: url("imgPingPong/paletaVerde.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
}

#comp {
  position: absolute;
  background-image: url("imgPingPong/paletaNegra.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  
}


#ball{
    background-color: yellow;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
}


@media (max-width: 768px) {
  #container {
    width: 100%;
    height: 60vh;
  }

  #user, #comp {
    width: 60px;
    height: 60px;
  }

  #ball {
    width: 15px;
    height: 15px;
  }

  #user-score, #comp-score {
    font-size: 18px;
    padding: 6px 12px;
  }
}